
{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
	<script type="text/javascript" src="/static/reservation/js/jquery/jquery-2.2.1.js"></script>
	<script type="text/javascript" src="/static/js/hello.js"></script>
	
	<link rel='shortcut icon' type='image/x-icon' href="{% static 'reservation/images/phare.ico' %}" />
	<script type="text/javascript">
		var siteMessages = {{ siteMessages|safe }};
	</script>
<head>
<body>
	<div class="jumbotron text-center">
	  <div class="container">
	  	<table >
	  		<tr >
	  			<td title="Commission Musique - Rungis" colspan="2">
	  				<div class="center">
	  					<img class="commission" src="{% static 'images/commission-musique.jpg'%}">
	  				</div>
	  			</td>
	  		</tr>
	  	
	    	<tr>
	    		<td>
	    			<h2 class="center"> Réservations de Studios </h2>
	    		</td>
	    		<td>
	    			<h2 class="center"> Echange de Partitions </h2>
	    		</td>
	    	</tr>
	    
			<tr>
				<td>
					<div class="center" title="cliquez-moi">
		    			<a type="button" class="btn btn-blue" href="{% url 'reservation:reservations' %}" ><span class="glyphicon glyphicon-flash"></span>réserver un studio</a>	
					</div>
				</td>
				<td>
					<div class="center" title="cliquez-moi">
		    			<a type="button" class="btn btn-blue" href="{% url 'partitions:partitions' %}" ><span class="glyphicon glyphicon-flash"></span>échanger des partitions</a>	
					</div>
				</td>
			</tr>
		</table>
	  </div>
	</div>
	<div>
		<h3 class="padding">Actualités</h3>
		<div>
			<table id="informations" class="informations" border="1" >
				<thead>
					<td class="padding bold"><span>Evénement ou Information</span></td>
					<td class="padding bold"><span>Date de l'événement</span></td>
				</thead>
				<tbody>
		
				</tbody>
			</table>
		</div>
		<div>
			<p class="small">Nota Bene: il est conseillé d'utiliser FireFox pour profiter pleinement des fonctionnalités de ce site.</p>
		</div>
		<div>
			<section class="center">
			    <h1>Attention : Le 28 Novembre 2022 au plus tard, le site va migrer de Héroku vers PythonAnyWhere</h1>
			    <h2>Veuillez prendre contact avec un administrateur pour la recréation de votre compte</h2>
			    <h2>Voici la nouvelle adresse du site -> <a href="https://musicrungis.eu.pythonanywhere.com/" target="_blank">Music Rungis PythonAnyWhere</a></h2>
			    <!-- 
				    <table>
				    	<tr>
				    		<td>
				    			<div class="center">
		  							<img class="hostingPlatformsHeroku" src="{% static 'images/heroku-logotype-vertical-purple.svg'%}">
		  						</div>
				    		</td>
				    		<td>
				    			<div class="center">
		  							<img class="hostingPlatforms" src="{% static 'images/pythonanywhere.png'%}">
		  						</div>
				    		</td>
				    	</tr>
				    </table>
			    -->
			</section>
		</div>
	</div>
</body>
{% endblock content  %}