{% extends "base.html" %}

{% block content %}
<div id="content-main">

<h1>Modification du mot de passe</h1>

<p> Votre mot de passe a été modifié avec succès </p>

<fieldset>
	<legend>Pour continuer, veuillez cliquer le lien ci-dessous : </legend>
	<div class="center" title="cliquez-moi">
		<a type="button" class="btn btn-blue" href="{% url 'reservation' %}" ><span class="glyphicon glyphicon-flash"></span> Cliquez pour lancer le système de  réservations </a>	
	</div>
</fieldset>

<div class="small">Commission Musique Rungis - 6 Mai 2016 - robert.pastor0691[at]orange.fr</div>

</div>


{% endblock %}
