{% extends "base.html" %}

{% block content %}
<div id="content-main">

<h1>Modifier votre mot de passe</h1>

<form method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    {% if form.errors.items|length == 1 %}
      Veuillez corriger l'erreur ci-dessous. 
    {% else %}
      Veuillez corriger les erreurs ci-dessous. 
    {% endif %}
    </p>
{% endif %}


<p> Veuillez saisir votre ancien mot de passe, puis saisissez deux fois votre nouveau mot de passe. </p>

<fieldset class="module aligned wide">

<fieldset>
	<legend>Veuillez saisir votre ancien mot de passe - respectez la casse : </legend>
	
	<div class="form-row">
	    {{ form.old_password.errors }}
	    {{ form.old_password.label_tag }} {{ form.old_password }}
	</div>
	
</fieldset>

<fieldset>
	<legend>Veuillez saisir deux fois de suite votre nouveau mot de passe - respectez la casse : </legend>
	
	<div class="form-row">
	    {{ form.new_password1.errors }}
	    {{ form.new_password1.label_tag }} {{ form.new_password1 }}
	    {% if form.new_password1.help_text %}
	    <p class="help">{{ form.new_password1.help_text|safe }}</p>
	    {% endif %}
	</div>

	<div class="form-row">
	{{ form.new_password2.errors }}
	    {{ form.new_password2.label_tag }} {{ form.new_password2 }}
	    {% if form.new_password2.help_text %}
	    <p class="help">{{ form.new_password2.help_text|safe }}</p>
	    {% endif %}
	</div>
	
</fieldset>

<div class="submit-row">
    <input type="submit" value="Cliquez pour modifier votre mot de passe" class="default" />
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form>
<div class="small">Commission Musique Rungis - 6 Mai 2016 - robert.pastor0691[at]orange.fr</div>

</div>

{% endblock %}
