<head>
	<title>music-rungis</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
{% block menu_contextuel %}

	<br>
	<p>Pour une réservation existante, le menu contextuel concerne toutes les opérations auxquelles on accède grâce à un click Gauche sur la réservation.</p>
	<br>
	<table>
		  	<thead>
        		<tr>
            		<th>Titre du test</th>
            		<th>Actions</th>
            		<th>Vérifications</th>
            		<th>Version</th>
            		<th>Résultats</th>
        		</tr>
    		</thead>
    		<tbody>
    		
                <tr>
                    <td>
                        Mode Hebdomadaire-modification d'une réservation dont l'utilisateur est le propriétaire
                    </td>
                    <td>
                        click droit sur une réservation
                    </td>
                    <td>
                        un menu contextuel est visualisé avec deux items actifs :
modifier la réservation

supprimer la réservation
                    </td>
                    <td>
                        version 4.0 10-Mars-2020
                    </td>
                    <td>
                        ?
                    </td>
                </tr>
                <tr>
                    <td>
                        Mode Hebdomadaire-modification d'une réservation dont l'utilisateur est le propriétaire
                    </td>
                    <td>
                        click droit sur une réservation, sélectionner l'item "modifier la réservation
                    </td>
                    <td>
                        un dialogue modal est visualisé.
                    </td>
                    <td>
                        version 4.0 10-Mars-2020
                    </td>
                    <td>
                        ?
                    </td>
                </tr>
                <tr>
                    <td>
                        Mode Hebdomadaire-modification d'une réservation dont l'utilisateur est le propriétaire
                    </td>
                    <td>
                        click droit sur une réservation, sélectionner l'item "modifier la réservation"
                    </td>
                    <td>
                        le dialogue modal montre le propriétaire de la réservation, le nom de la chanson, le studio, la date de la réservation, l'heure de début et l'heure de fin
                    </td>
                    <td>
                        version 4.0 10-Mars-2020
                    </td>
                    <td>
                        ?
                    </td>
                </tr>
                <tr>
                    <td>
                        Mode Hebdomadaire-modification d'une réservation dont l'utilisateur est le propriétaire
                    </td>
                    <td>
                        modifier le nom de la réservation et cliquer sur OUI
                    </td>
                    <td>
                        le nom de la réservation est modifié
                    </td>
                    <td>
                        version 4.0 10-Mars-2020
                    </td>
                    <td>
                        ?
                    </td>
                </tr>
                <tr>
                    <td>
                        Mode Hebdomadaire-modification d'une réservation dont l'utilisateur est le propriétaire
                    </td>
                    <td>
                        modifier le nom du studio et cliquer sur OUI
                    </td>
                    <td>
                        le studio est modifié
                    </td>
                    <td>
                        version 4.0 10-Mars-2020
                    </td>
                    <td>
                        ?
                    </td>
                </tr>
                <tr>
                    <td>
                        Mode Hebdomadaire-modification d'une réservation dont l'utilisateur est le propriétaire
                    </td>
                    <td>
                        modifier l'heure de début
                    </td>
                    <td>
                        l'heure de début est modifiée
                    </td>
                    <td>
                        version 4.0 10-Mars-2020
                    </td>
                    <td>
                        ?
                    </td>
                </tr>
                <tr>
                    <td>
                        Mode Hebdomadaire-modification d'une réservation dont l'utilisateur est le propriétaire
                    </td>
                    <td>
                        modifier l'heure de fin
                    </td>
                    <td>
                        l'heure de fin est modifiée
                    </td>
                    <td>
                        version 4.0 10-Mars-2020
                    </td>
                    <td>
                        ?
                    </td>
                </tr>
                <tr>
                    <td>
                        Mode Hebdomadaire-modification d'une réservation dont l'utilisateur n'est pas le propriétaire - l'utilisateur ne fait pas partie du staff
                    </td>
                    <td>
                        click droit sur une réservation, sélectionner l'item "modifier la réservation"
                    </td>
                    <td>
                        un dialogue modal est visualisé.
                    </td>
                    <td>
                        version 4.0 10-Mars-2020
                    </td>
                    <td>
                        ?
                    </td>
                </tr>
                <tr>
                    <td>
                        Mode Hebdomadaire-modification d'une réservation dont l'utilisateur n'est pas le propriétaire - l'utilisateur ne fait pas partie du staff
                    </td>
                    <td>
                        click droit sur une réservation, sélectionner l'item "modifier la réservation"
                    </td>
                    <td>
                        le dialogue modal montre le propriétaire de la réservation, le nom de la chanson, le studio, la date de la réservation, l'heure de début et l'heure de fin
                    </td>
                    <td>
                        version 4.0 10-Mars-2020
                    </td>
                    <td>
                        ?
                    </td>
                </tr>
                <tr>
                    <td>
                        Mode Hebdomadaire-modification d'une réservation dont l'utilisateur n'est pas le propriétaire - l'utilisateur ne fait pas partie du staff
                    </td>
                    <td>
                        click droit sur une réservation, sélectionner l'item "modifier la réservation"
                    </td>
                    <td>
                        L'ensemble des champs sont inactifs, le bouton OUI est grisé
                    </td>
                    <td>
                        version 4.0 10-Mars-2020
                    </td>
                    <td>
                        ?
                    </td>
                </tr>
                <tr>
                    <td>
                        Mode Hebdomadaire-suppression d'une réservation dont l'utilisateur est le propriétaire
                    </td>
                    <td>
                        click droit sur une réservation
                    </td>
                    <td>
                        un menu contextuel est visualisé avec deux items actifs :
modifier la réservation

supprimer la réservation
                    </td>
                    <td>
                        version 4.0 10-Mars-2020
                    </td>
                    <td>
                        ?
                    </td>
                </tr>
                <tr>
                    <td>
                        Mode Hebdomadaire-suppression d'une réservation dont l'utilisateur est le propriétaire
                    </td>
                    <td>
                        click droit sur une réservation, sélectionner l'item "supprimer la réservation"
                    </td>
                    <td>
                        la réservation est supprimée
                    </td>
                    <td>
                        version 4.0 10-Mars-2020
                    </td>
                    <td>
                        ?
                    </td>
                </tr>
                <tr>
                    <td>
                        Mode Hebdomadaire-suppression d'une réservation dont l'utilisateur n'est pas le propriétaire - l'utilisateur n'est pas membre du staff
                    </td>
                    <td>
                        click droit sur une réservation
                    </td>
                    <td>
                        un menu contextuel est visualisé avec un item actif :
modifier la réservation

l'item "supprimer la réservation" est grisé - il est inactif
                    </td>
                    <td>
                        version 4.0 10-Mars-2020
                    </td>
                    <td>
                        ?
                    </td>
                </tr>
                <tr>
                    <td>
                        Mode Mensuel-modification d'une réservation
                    </td>
                    <td>
                        click droit sur une réservation
                    </td>
                    <td>
                        un menu contextuel est visualisé avec deux items actifs :
modifier la réservation

supprimer la réservation
                    </td>
                    <td>
                        version 4.0 10-Mars-2020
                    </td>
                    <td>
                        ?
                    </td>
                </tr>
                <tr>
                    <td>
                        Mode Mensuel-modification d'une réservation dont l'utilisateur est le propriétaire
                    </td>
                    <td>
                        click droit sur une réservation, sélectionner l'item "modifier la réservation
                    </td>
                    <td>
                        un dialogue modal est visualisé.
                    </td>
                    <td>
                        version 4.0 10-Mars-2020
                    </td>
                    <td>
                        ?
                    </td>
                </tr>
                <tr>
                    <td>
                        Mode Mensuel-modification d'une réservation dont l'utilisateur est le propriétaire
                    </td>
                    <td>
                        click droit sur une réservation, sélectionner l'item "modifier la réservation"
                    </td>
                    <td>
                        le dialogue modal montre le propriétaire de la réservation, le nom de la chanson, le studio, la date de la réservation, l'heure de début et l'heure de fin
                    </td>
                    <td>
                        version 4.0 10-Mars-2020
                    </td>
                    <td>
                        ?
                    </td>
                </tr>
                <tr>
                    <td>
                        Mode Mensuel-modification d'une réservation dont l'utilisateur est le propriétaire
                    </td>
                    <td>
                        modifier le nom de la réservation et cliquer sur OUI
                    </td>
                    <td>
                        le nom de la réservation est modifié
                    </td>
                    <td>
                        version 4.0 10-Mars-2020
                    </td>
                    <td>
                        ?
                    </td>
                </tr>
                <tr>
                    <td>
                        Mode Mensuel-modification d'une réservation dont l'utilisateur est le propriétaire
                    </td>
                    <td>
                        modifier le nom du studio et cliquer sur OUI
                    </td>
                    <td>
                        le studio est modifié
                    </td>
                    <td>
                        version 4.0 10-Mars-2020
                    </td>
                    <td>
                        ?
                    </td>
                </tr>
                <tr>
                    <td>
                        Mode Mensuel-modification d'une réservation dont l'utilisateur est le propriétaire
                    </td>
                    <td>
                        modifier l'heure de début
                    </td>
                    <td>
                        l'heure de début est modifiée
                    </td>
                    <td>
                        version 4.0 10-Mars-2020
                    </td>
                    <td>
                        ?
                    </td>
                </tr>
                <tr>
                    <td>
                        Mode Mensuel-modification d'une réservation dont l'utilisateur est le propriétaire
                    </td>
                    <td>
                        modifier l'heure de fin
                    </td>
                    <td>
                        l'heure de fin est modifiée
                    </td>
                    <td>
                        version 4.0 10-Mars-2020
                    </td>
                    <td>
                        ?
                    </td>
                </tr>
                <tr>
                    <td>
                        Mode Mensuel-modification d'une réservation dont l'utilisateur n'est pas le propriétaire - l'utilisateur ne fait pas partie du staff
                    </td>
                    <td>
                        click droit sur une réservation, sélectionner l'item "modifier la réservation"
                    </td>
                    <td>
                        un dialogue modal est visualisé.
                    </td>
                    <td>
                        version 4.0 10-Mars-2020
                    </td>
                    <td>
                        ?
                    </td>
                </tr>
                <tr>
                    <td>
                        Mode Mensuel-modification d'une réservation dont l'utilisateur n'est pas le propriétaire - l'utilisateur ne fait pas partie du staff
                    </td>
                    <td>
                        click droit sur une réservation, sélectionner l'item "modifier la réservation"
                    </td>
                    <td>
                        le dialogue modal montre le propriétaire de la réservation, le nom de la chanson, le studio, la date de la réservation, l'heure de début et l'heure de fin
                    </td>
                    <td>
                        version 4.0 10-Mars-2020
                    </td>
                    <td>
                        ?
                    </td>
                </tr>
                <tr>
                    <td>
                        Mode Mensuel-modification d'une réservation dont l'utilisateur n'est pas le propriétaire - l'utilisateur ne fait pas partie du staff
                    </td>
                    <td>
                        click droit sur une réservation, sélectionner l'item "modifier la réservation"
                    </td>
                    <td>
                        L'ensemble des champs sont inactifs, le bouton OUI est grisé
                    </td>
                    <td>
                        version 4.0 10-Mars-2020
                    </td>
                    <td>
                        ?
                    </td>
                </tr>
                <tr>
                    <td>
                        Mode Mensuel-suppression d'une réservation dont l'utilisateur est le propriétaire
                    </td>
                    <td>
                        click droit sur une réservation
                    </td>
                    <td>
                        un menu contextuel est visualisé avec deux items actifs :
modifier la réservation

supprimer la réservation
                    </td>
                    <td>
                        version 4.0 10-Mars-2020
                    </td>
                    <td>
                        ?
                    </td>
                </tr>
                <tr>
                    <td>
                        Mode Mensuel-suppression d'une réservation dont l'utilisateur est le propriétaire
                    </td>
                    <td>
                        click droit sur une réservation, sélectionner l'item "supprimer la réservation"
                    </td>
                    <td>
                        la réservation est supprimée
                    </td>
                    <td>
                        version 4.0 10-Mars-2020
                    </td>
                    <td>
                        ?
                    </td>
                </tr>
                <tr>
                    <td>
                        Mode Mensuel-suppression d'une réservation dont l'utilisateur n'est pas le propriétaire - l'utilisateur n'est pas membre du staff
                    </td>
                    <td>
                        click droit sur une réservation
                    </td>
                    <td>
                        un menu contextuel est visualisé avec un item actif :
modifier la réservation

l'item "supprimer la réservation" est grisé - il est inactif
                    </td>
                    <td>
                        version 4.0 10-Mars-2020
                    </td>
                    <td>
                        ?
                    </td>
                </tr>
    		
    		
    		</tbody>
	</table>
{% endblock %}
