<head>
	<title>music-rungis</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
{% block site_messages %}

	<br>
	<p>Les messages du site s'affichent dans un tableau sur la page d'entrée du site. Les messages du site fournissent les dates et les intitulés des prochains concerts.</p>
	<br>
	<table>
		  	<thead>
        		<tr>
            		<th>Titre du test</th>
            		<th>Actions</th>
            		<th>Vérifications</th>
            		<th>Version</th>
            		<th>Résultats</th>
        		</tr>
    		</thead>
    		<tbody>
    		
		        <tr>
		            <td>Messages Site - création</td>
		            <td>Dans le site d'administration, créer un message site actif, définir un titre et une date, enregistrer</td>
		            <td>Ouvrir la page d'entrée du site et vérifier que le message s'affiche</td>
		            <td>version 4.0 10-Mars-2020</td>
		            <td>OK</td>
		        </tr>
		        
		        <tr>
		            <td>Messages Site - modification</td>
		            <td>Dans le site d'administration, modifier le texte d'un message site actif, enregistrer</td>
		            <td>Ouvrir la page d'entrée du site et vérifier que le message modifié s'affiche</td>
		            <td>version 4.0 10-Mars-2020</td>
		            <td>OK</td>
		        </tr>
		        
		        <tr>
		            <td>Messages Site - modification</td>
		            <td>Dans le site d'administration, modifier la date d'un message site actif, enregistrer</td>
		            <td>Ouvrir la page d'entrée du site et vérifier que la nouvelle date du message s'affiche</td>
		            <td>version 4.0 10-Mars-2020</td>
		            <td>OK</td>
		        </tr>
		        
		        <tr>
		            <td>Messages Site - inactivation</td>
		            <td>Dans le site d'administration, rendre un message site inactif, enregistrer</td>
		            <td>Ouvrir la page d'entrée du site et vérifier que le message ne s'affiche pas</td>
		            <td>version 4.0 10-Mars-2020</td>
		            <td>OK</td>
		        </tr>
		        
		        <tr>
		            <td>Messages Site - activation</td>
		            <td>Dans le site d'administration, passer un message site de l'état inactif à l'état actif, enregistrer</td>
		            <td>Ouvrir la page d'entrée du site et vérifier que le message s'affiche</td>
		            <td>version 4.0 10-Mars-2020</td>
		            <td>OK</td>
		        </tr>
		        
		    </tbody>
	</table>
{% endblock %}